@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This site maintains an identity managment wiki for the publication and comments on subjects of interest to identity and community. It is designed to
    demonstrate the best practices for honoring the user's intent.
</p>

<p>
    Like most wikis, this one allows commentary by anyone. We do require registration to add content. We also encourage curated content which basically
    means that we will block future content to any page at the author's requests, but we never block comment on the discussion page that is linked to that
    curated content.
</p>
<p>
    Anyone can view the contents by clicking on the link below. An account will need to be established only for those who want
    to comment on this site.
</p>
<p>Click <a href="https://tcwiki.azurewebsites.net">here to enter the wiki.</a></p>

<h2>Privacy Statement</h2>

<p>This site uses cookies for a consistent user experience and to maintain sign in information if it is used.</p>

<p>
    The privacy of the user name is not provided here, so if you do not wish your comments to be
    identified with you, you should select a user name that cannot be linked to you. We do not share any information from this site with any
    other organization in any way that is not obvious to all who come here.
</p>

