@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Seattle, WA <br />
    <abbr title="Fax">Fax:</abbr>
    425.527.6964
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tom@ca0.net">Tom@ca0.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:jerry@ca0.net">Jerry@ca0.net</a>
</address>
