@{
    ViewData["Title"] = "Home ";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.png" alt="TR is Trust Registry" class="img-responsive" height="320" width="1222" />
            <div class="carousel-caption" role="option">
                <p>
                    The source of trust for the Federation.
                    <a class="btn btn-default" href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Become a member of the federation.
                    <a class="btn btn-default" href="https://idefregistry.edufoundation.kantarainitiative.org/faqs/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    See the rules for joining now.
                    <a class="btn btn-default" href="https://idefregistry.edufoundation.kantarainitiative.org/faqs/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organization Registery of Trusted Identifiers</h2>
        <ul>
            <li>Go to <a href="http://trustregistry.us">the working Trust Registry for the US</a></li>
            <li>Go <a asp-area="" asp-controller="Registry" asp-action="Index">query the Database</a></li>
            <li>The working definition can be viewed at <a href="https://tcwiki.azurewebsites.net/index.php?title=Federation_Trust_Registry">  Federation Trust Registry.</a></li>
            <li>See the <a href="~/images/IDEFdata.json"> IDEF registry as JSON blob</a></li>
            <li>The code for this page is supplied by <a href="http://tomjones.us"> tomjones.us</a></li>
            <li>The Identity Management wiki can be found <a href="https://tcwiki.azurewebsites.net/index.php?title=Main_Page">here</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>About the IDEF</h2>
        <ul>
            <li><a href="https://kantarainitiative.org/groups/idef/">View or join the Kantara IDEF work group here.</a>(maitenace of the existing framework.)</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Main_Page">The wiki for the IDEF inherited from the IDESG</a></li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Management_Office">The IDEF Framework Management Office</a> (somewhat out-of-date)</li>
            <li><a href="https://idesg.edufoundation.kantarainitiative.org/">The old IDESG web site</a>(definitly out-of-date)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Registry Standardization</h2>
        <ul>
            <li><a href="https://IDEFregistry.org">The main page of the IDEF registry</a></li>
            <li><a href="http://www.tscp.org/trust-framework-services/ ">Trust Services of TSCP the Transglobal Secure Collaboration Program</a> (mostly focused on NATO A&D industry)</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Framework_Profiles">The Identity Ecosystem Framework</a> will need fine-grained specifications for applying its principles to specific vertical industry and horizontal community requirements.</a></li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Health_Care_Profile">This Health Care Profile</a> is one of the Framework Profiles that will allow developers of code and user experience to determine if their systems are compliant with the framework.</li>
            <li><a href="https://wiki.idesg.org/wiki/index.php/Financial_Profile">A profile of the Identity Ecosystem Framework Profiles for Financial Services</a></li>
        </ul>
    </div>

</div>