@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    Cookies are solely for creations of a consistent user experience.
    We do not share any information from this site with any other organization in any way that is not obvious to all who come here.
</p>
